.tasks {
  border: 2px solid black;
  padding-bottom: 5px;
  padding: 10px;
  width: 30vw;
  margin-top: 20px;
}

button {
  background-color: transparent;
  color: black;
  font-family: sans-serif;
  border-radius: 5px;
  margin: 5px;
  padding: 4px;
}

.task {
  display: flex;
  justify-content: space-between;
}

.complete {
  text-decoration: line-through;
}

.input {
  textarea {
    border-radius: 10px;
    font-family: sans-serif, cursive;
    width: 100%;
    padding: 5px;
    border: none;
    resize: none;
  }
}
